<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Livros</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Capa</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Idioma</th>
                <th>Ano de Publicação</th>
                <th>Quantidade</th>
                <th>Quantidade Disponível</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${livros}">
                    <td th:text="${livro.isbn}"></td>
                    <td> <img th:src="${livro.imagem_url}" alt="Capa do Livro" style="width: 50px;"></td>
                    <td th:text="${livro.titulo}"></td>
                    <td>
                        <span th:each="rel, iterStat : ${livro.autorEscreveLivro}">
                            <span th:text="${rel.autor.nome}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                    </td>
                    <td th:text="${livro.idioma.name}"></td>
                    <td th:text="${livro.ano_publicacao}"></td>
                    <td th:text="${livro.quantidade}"></td>
                    <td th:text="${livro.disponiveis}"></td>
                </tr>
            </tbody>
        </table>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>