<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/listagem/css/livros.css}">
</head>
<body class="bg-light">
<div class="container py-4">

    <header class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <i class="bi bi-book-half" style="font-size: 2rem"></i>
                <h3 class="fw-bold">Livros</h3>
            </div>
            <p class="text-muted">Sistema de Gerenciamento de Biblioteca</p>
        </div>
        <button class="btn btn-dark">+ Cadastrar Livro</button>
    </header>

    <div class="row g-3 mb-3">
        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h6 class="text-muted">Total</h6>
                    <h3>2</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h6 class="text-muted">Ativos</h6>
                    <h3 class="text-success">1</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h6 class="text-muted">Manutenção</h6>
                    <h3 class="text-success">1</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h6 class="text-muted">Manutenção</h6>
                    <h3 class="text-success">1</h3>
                </div>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card shadow-sm mb-3" style="margin-top: 0.5rem">
                <div class="card-header bg-white">
                    <div class="d-flex align-items-center gap-2">
                        <h6 class="mb-0 d-flex align-items-center gap-2">
                            <i class="bi bi-funnel text-secondary"></i>
                            <span>Filtro de Livros</span>
                        </h6>
                    </div>
                </div>

                <form th:action="@{/livros}" method="get" id="formFiltros">
                    <div class="card-body py-3">
                        <div class="row g-2 align-items-center">

                            <!-- Barra de pesquisa -->
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-text bg-light border-0">
                                        <i class="bi bi-search text-muted"></i>
                                    </span>
                                    <input type="text"
                                           class="form-control border-0 shadow-sm"
                                           placeholder="Pesquisar por ISBN, Título ou Autor...">
                                </div>
                            </div>

                            <!-- Filtro de ordenação -->
                            <div class="col-md-2">
                                <select class="form-select shadow-sm"
                                >
                                    <option
                                            th:text="'Título A-Z'" selected>
                                    </option>
                                    <option
                                            th:text="'Título Z-A'">
                                    </option>
                                </select>
                            </div>

                            <!-- Filtro de categoria -->
                            <div class="col-md-3">
                                <select class="form-select shadow-sm">
                                    <option value="" selected>Todas as Categorias
                                    </option>
                                    <option th:each="categoria : ${categorias}"
                                            th:value="${categoria.id}"
                                            th:text="${categoria.nome}"
                                            th:selected="${categoriaId == categoria.id}">Ficção
                                    </option>
                                </select>
                            </div>

                            <!-- Filtro de status -->
                            <div class="col-md-2">
                                <select
                                        class="form-select shadow-sm">
                                    <option selected>Todos os Status</option>
                                    <option>Ativo</option>
                                    <option>Inativo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="table-responsive desktop-table">
                <table class="table table-striped align-middle mb-0">
                    <thead>
                    <tr>
                        <th>#ISBN</th>
                        <th>Capa</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Categoria</th>
                        <th>Idioma</th>
                        <th>Ano</th>
                        <th>Qtd.</th>
                        <th>Disp.</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="livro : ${livros}">
                        <td th:text="${livro.isbn}" style="font-weight: bold">1212121</td>

                        <td>
                            <img th:if="${livro.imagem_url != null}" th:src="${livro.imagem_url}" alt="Capa"
                                 class="book-cover">
                            <i th:unless="${livro.imagem_url != null}" class="bi bi-book-half icon-cover"></i>
                        </td>

                        <td th:text="${livro.titulo}"></td>

                        <td>
                <span th:each="autorRel, iterStat : ${livro.autorEscreveLivro}">
                    <span th:text="${autorRel.autor.nome}" class="text-primary"></span>
                    <br th:if="${!iterStat.last}"/>
                </span>
                        </td>

                        <td>
                            <div class="book-categories">
                    <span class="badge bg-dark"
                          th:each="categoriaRel : ${livro.livroPertenceCategoria}"
                          th:text="${categoriaRel.categoria.nome}"></span>
                            </div>
                        </td>

                        <td th:text="${livro.idioma.name}">PT-BR</td>
                        <td th:text="${livro.ano_publicacao}">2025</td>
                        <td th:text="${livro.quantidade}">5</td>
                        <td th:text="${livro.disponiveis}">5</td>

                        <td>
                            <span th:if="${!livro.deleted}" class="badge bg-success">Ativo</span>
                            <span th:unless="${!livro.deleted}" class="badge bg-danger">Inativo</span>
                        </td>

                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-sm btn-outline-secondary"><i class="bi bi-eye"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button>
                                <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>

